[Unit]
Description=Ethereum chaind syncer

[Service]
Environment="SESSION_ID=%i"
Environment="SESSION_RUNTIME_DIR=/run/user/%U/chaind/eth"
ExecStart=%h/.local/bin/chaind-eth-syncer -v --session-id %i --skip-history
Restart=on-failure
